.App {
  text-align: center;
}

.testimonial-slider-item {
  border: 2px solid #ffffff; /* White border */
  border-radius: 10px; /* Border radius */
  padding: 20px; /* Padding */
  margin-bottom: 20px; /* Bottom margin */
}

.testimonial {
  width: 48%; /* Adjust width */
  display: inline-block; /* Display inline */
}

.testimonial-text {
  font-size: 16px;
  line-height: 1.6;
}

.testimonial-author {
  font-style: italic;
  margin-top: 10px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
